# Archivos que queremos subir
!.gitignore
!a1_informe.html
!styles.css
!a1_informe_files/
!Guia_Técnica_de_Subvenciones.pdf
!mapas/**

# Todo lo demás que ya ignorabas
*.xlsx
*.xls
*.csv
*.py
*.ipynb
*.R
*.Rmd
__pycache__/
*.tmp
